tr {
    width: 399px;
}

td {
    width: 133px;
    height: 133px;
    border: 5px solid black;
    position: relative;
    cursor: pointer;
}

td:hover {
    background-color: rgba(150, 150, 150, 0.3);
}

tr:first-child td {
    border-top: 0;
}

tr td:first-child {
    border-left: 0;
}

tr:last-child td {
    border-bottom: 0;
}

tr td:last-child {
    border-right: 0;
}

table {
    border-collapse: collapse;
}

.shape {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 26px;
    left: 26px;
}

.d-none {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    flex-direction: column;
}

.player-panel {
    display: flex;
    font-size: 32px;
    margin-bottom: 32px;
}

.player-panel div {
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-left: 16px;
}

.player-panel img {
    width: 60px;
    height: 60px;
    margin-right: 16px;
}

.player-inactiv {
    opacity: 0.5;
}

.horizontal-line {
    height: 10px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: scaleX(0.0);
    transition: transform 225ms ease-in-out;
    z-index: 1;
}

.game-over {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    animation: zoomIn 225ms ease-in-out;
}

.restart-button {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #1C0B7F;
    z-index: 999;
    width: 300px;
    height: 100px;
    color: white;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    bottom: 60px;
}

.restart-button:hover {
    background-color: #2a08ec;
}

@keyframes zoomIn {
    from{
        opacity: 0;
        transition: scale(0);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
}

.p-relativ {
    position: relative;
}

@media(max-width: 450px) {
    body {
        max-width: 300px;
        overflow: hidden;
    }

    .player-panel {
        flex-direction: column;
    }

    .shape {
        width: 50px;
        height: 50px;
    }

    .responsiv-line-left {
        position:absolute;
        left: -125px;
    }

    .responsiv-line-mid {
        position:absolute;
        margin-left: -50px;
    }

    .responsiv-line-right {
        position: absolute;
        margin-left: -95px;
    }

    .responsiv-line-left-d {
        position: absolute;
        left: -35px;
    }

    .responsiv-line-right-d {
        position: absolute;
        left: -15px;
    }

    .restart-button {
        width: 250px!important;
    }
}